<div class="navbar navbar-inverse navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/public/assets/custom/img/T.gif" alt="Trevor Baron T" style="width: 48px;
margin: -16px;
margin-right: 20px;" alt="Trevor Baron T"> Trevor Baron</a>
    </div>
    <div class="navbar-collapse collapse" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li <%- typeof(page)=='undefined'?'class="active"':'' %>>
          <a href="/workterm/home">Home</a>
        </li>
        <li <%- typeof(page)!='undefined'&&page=='employer'?'class="active"':'' %>>
          <a href="/workterm/employer">Employer</a>
        </li>
        <li <%- typeof(page)!='undefined'&&page=='goals'?'class="active"':'' %>>
          <a href="/workterm/goals">Goals</a>
        </li>
        <li <%- typeof(page)!='undefined'&&page=='jobDescription'?'class="active"':'' %>>
          <a href="/workterm/jobDescription">Job Description</a>
        </li>
        <li <%- typeof(page)!='undefined'&&page=='focus'?'class="active"':'' %>>
          <a href="/workterm/focus">Focus</a>
        </li>
        <li <%- typeof(page)!='undefined'&&page=='academicRelation'?'class="active"':'' %>>
          <a href="/workterm/academicRelation">Academic Relation</a>
        </li>
        <li <%- typeof(page)!='undefined'&&page=='conclusion'?'class="active"':'' %>>
          <a href="/workterm/conclusion">Conclusion</a>
        </li>
        <li <%- typeof(page)!='undefined'&&page=='acknowledgements'?'class="active"':'' %>>
          <a href="/workterm/acknowledgements">Acknowledgements</a>
        </li>
      </ul>
    </div>
</div>